.header {
    height: 80px;
    /* background: #fff; */
    width: 100%;
    font-size: 22px;
    font-weight: bold;
    
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
   
}

.menu{
    display: flex;
}

.menu li{
    margin-left: 20px;
    list-style: none;
    position:relative; 
}

.menu li a{
    display: block;
    padding: 10px;
    text-decoration: none; 
    color: #2d58e3;
}

h4{
    color:#2d58e3
}
